<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="tests">

	<test name="vivoX9">
		<parameter name="deviceName" value="vivoX9" />
		<classes>
			<class name="gby.testng.testcase.InitDriverCase" />
			<class name="gby.testng.testcase.LoginCase" />
			<class name="gby.testng.testcase.HouseSearchCase" />
			<class name="gby.testng.testcase.PublishPostCase" />
		</classes>
	</test>

<!-- 	<test name="mytest"> -->
<!-- 	<classes> -->
<!-- 	<class name="other.testngtest.NewTest" /> -->
<!-- 	<class name="gby.testng.testcase.LoginCase" /> -->
<!-- 	</classes> -->
<!-- 	</test> -->
	
	<!-- <test name="jingli_Test"> -->
	<!-- 设备id及对应的server端口 -->
	<!-- <parameter name="udid" value="7POFC6HI5HPF5L6T" /> -->
	<!-- <parameter name="serverURL" value="127.0.0.1:4730" /> -->
	<!-- <classes> -->
	<!-- <class name="gby.testng.testcase.InitDriverCase" /> -->
	<!-- <class name="gby.testng.testcase.OpenHousePageCase" /> -->
	<!-- </classes> -->
	<!-- </test> -->



	<!-- <test name="oppo_r9_Test"> -->
	<!-- <parameter name="udid" value="192.168.20.60:5555" /> -->
	<!-- <parameter name="serverURL" value="127.0.0.1:4492" /> -->
	<!-- <classes> -->
	<!-- <class name="gby.testng.testcase.InitAppStart" /> -->
	<!-- <class name="gby.testng.testcase.OpenHousePageCase" /> -->
	<!-- </classes> -->
	<!-- </test> -->

	<!-- <test name="mytest"> -->
	<!-- 设备id及对应的server端口 -->
	<!-- <classes> -->
	<!-- <class name="test.testng.parralel.MethodP" /> -->
	<!-- <class name="test.testng.parralel.NewTest" /> -->
	<!-- </classes> -->
	<!-- </test> -->
	<!-- <test name="mytest2"> -->
	<!-- <classes> -->
	<!-- <class name="test.testng.parralel.MethodP" /> -->
	<!-- <class name="test.testng.parralel.NewTest" /> -->
	<!-- </classes> -->
	<!-- </test> -->
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="gby.appium.listern.RetryListener" />
		<listener class-name="gby.appium.listern.TestNGListener" />
	</listeners>
</suite> <!-- Suite -->
